{% extends 'catalog/base.html' %}

{% block content %}
<div class="row-6">
    <div class="col-6">
        <div class="card">
            <div class="title">Blog</div>
            <div class="card-body">
                <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p></p>
                    <button type="submit" class="btn btn-warning">
                        {% if object %}
                        Изменить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                    <button type="submit" class="btn btn-success">Отмена</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}