{% load catalog_custom_tags %}
<div class="col-lg-6 col-md-6 col-sm-12 mb-4">
    <div class="card-container d-flex flex-row">
        <img class="pet-image img-fluid" src="{% mediapath product %}" alt="Generic placeholder image">
        <div class="card-content">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <div class="button-center">
                    <a href="{% url 'catalog:product' product.pk %}"  class="btn btn-primary btn-centered">Осмотреть</a>
                    {% if user.is_authenticated and product.owner == user or user.is_superuser %}
                        <a href="{% url 'catalog:update_product' product.pk %}"  class="btn btn-primary confirm-update">Изменить</a>
                        <a href="{% url 'catalog:delete_product' product.pk %}"  class="btn btn-primary confirm-danger">Отпустить</a>
                    {% endif %}
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Цена: {{ product.price }} rub</li>
                <li class="list-group-item"><span class="text-muted">Категория: {{ product.category }}</span></li>
                <li class="list-group-item"><span class="text-muted">Владелец: {% if product.owner %}{{ product.owner }}{% else %}На общем попечении{% endif %}</span></li>
                <li class="list-group-item"><span class="text-muted">Дата создания: {{ product.creation_date }}</span></li>
                <li class="list-group-item"><span class="text-muted">Дата изменения: {{ product.change_date }}</span></li>
                <li class="list-group-item"><span class="text-muted">Активная версия: {% if product.active_version %}{{ product.active_version.name }}{% else %}Не задана{% endif %}</span></li>
            </ul>
=
        </div>
    </div>
</div>