{% extends 'catalog/base.html' %}

{% block content %}
<div class="row-6">
    <div class="col-6">
        <div class="card">
            <div class="title">Users</div>
            <div class="card-body">
                <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <a class="button" href="{% url 'users:password' %}" >Change Password</a>

                    <p></p>
                    <button type="submit" class="btn btn-warning">
                        Edit
                    </button>
                    <button type="submit" class="btn btn-success">Отмена</button>
                </form>
            </div>
        </div>
    </div>
</div>
    <body>
      {{user}} authentication:
      {{user.is_authenticated}}

    </body>
{% endblock %}