{% extends 'catalog/base.html' %}
{% block content %}
<div class="container mt-4">
    <!-- Заголовок сверху -->
    <div class="row">
        <div class="col-12">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <br>
    <br>
    <!-- Карточки продуктов -->
    <div class="row">
        {% for category in objects_list %}
                        <h5 class="card-title">{{ category.name }}</h5>
                <p class="card-text">{{ category.description }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}