{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text">
                                контакт1<br>
                                контакт2
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h3>Напишите нам</h3>
                            <form method="post">
                                {% csrf_token %}
                                <input type="text" name="name" class="form-control mb-2" id="name" placeholder="Ваше имя"
                                       required>
                                <input type="text" name="phone" class="form-control mb-2" id="phone"
                                       placeholder="Контактный телефон" required>
                                <button type="submit" class="btn btn-primary form-control mb-2">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}