{% extends 'catalog/base.html' %}
{% block content %}
{% load custom_tags %}

<div class="row-12">
    <div class="col-12 mb-3">
        <a class="btn btn-success mt-3" type="button" href="{% url 'catalog:create' %}">Создать</a>
    </div>
</div>

<div class="row-2">
    {% for object in object_list %}
    <div class="col-6">
        <div class="card mb-4 box-shadow">
            <img src="{% mediapath object %}" class="img-fluid" alt="Изображение продукта">
            <div class="card-body">
                <p class="card-text">{{ object }}</p>
                <p class="card-text">slug: {{ object.slug }}</p>
                <p class="card-text">{{ object.image }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group ">
                        <a href="{% url 'catalog:view' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-secondary">View</a>
                        <a href="{% url 'catalog:edit' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-secondary">Edit</a>
                        <a href="{% url 'catalog:delete' object.pk %}" type="button"
                           class="btn btn-danger btn-outline-secondary">Delete</a>
                    </div>
                    <small class="text-muted">{{ object.modify_date }}</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}