{% extends 'catalog/base.html' %}
{% load custom_tags %}
{% block content %}

<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Добавление продукта</h3>
                <p></p>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-warning">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                    {% if object %}
                    <a href="{% url 'catalog:delete' object.pk %}" type="button" class="btn btn-danger">Удалить</a>
                    {% endif %}
                    <a href="{% url 'catalog:index' %}" class="btn btn-success confirm-update">Отмена</a>
                </form>
                {% if object %}
                <img src="{% mediapath object %}" class="img" alt="Изображение продукта">
                {%endif%}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="body">
            {{ formset.form }}
        </div>
    </div>

    {% endblock %}