{% extends 'catalog/base.html' %}
{% block content %}
{% load custom_tags %}

<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        {{ object }}
    <img src="{% mediapath object %}" class="img" alt="Изображение продукта">
        <div class="card-body">
            <p class="card-text"> slug: {{ object.slug }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group ">
                    <a href="{% url 'catalog:edit' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                </div>
                <small class="text-muted col-md-6">{{ object.modify_date }}</small>
            </div>
        </div>
    </div>
    Количество просмотров: {{ object.count_views }}
</div>
{% endblock %}
